.#{$namespace}sakai-pasystem{
	.form-horizontal{
		margin: 2.5em 0 0 0;
		.input-group-btn{
			.btn-primary{
			 	margin-right: 0;
				font-size: 14px;
			}
		}
	}
}
.pasystem-banner-alert-toggle-list-item {
	margin-right: $top-header-item-spacing;
	padding-right: $top-header-item-spacing;
	border-right: $top-header-separators-thickness solid var(--topNav-border-color);
}