<div class="portletBody specialLink container-fluid">
  #if($menu)#toolbar($menu)#end
  <div class="membershipContent owl-mig-tracking-main-content">

    #if($successDate)<div class="sak-banner-success">#mb("owl.mig.success") $MigTool.formatDate($successDate, $tlang.Locale)</div>#end

    #if($alertMessage)<div class="sak-banner-error">$formattedText.escapeHtml($alertMessage)</div>#end

    #if(!$banner1.Empty)<div class="sak-banner-info">$banner1</div>#end
    #if(!$banner2.Empty)<div class="sak-banner-info">$banner2</div>#end
    #if(!$banner3.Empty)<div class="sak-banner-info">$banner3</div>#end

    <form action="#toolForm("$action")" method="post">
      <table class="table table-responsive table-bordered table-striped">
        <caption class="sr-only">#mb("owl.mig.header.caption")</caption>
        <thead>
          <tr>
            <th>#mb("owl.mig.header.siteTitle")</th>
            #if($showSizeCol)<th>#mb("owl.mig.header.siteSize")</th>#end
            <th>#mb("owl.mig.header.option")</th>
            <th>#mb("owl.mig.header.optionOn")</th>
            <th>#mb("owl.mig.header.optionBy")</th>
          </tr>
        </thead>
        </tbody>
          #set($noVal = $tlang.getString("owl.mig.noValue"))
          #foreach($site in $siteList)
          <tr>
            <td>#linkify($site)</td>
            #if($showSizeCol)<td>#size($site)</td>#end
            <td>#selection($site $options)</td>
            #set($dateAndUser = $MigTool.formatLatestDateAndUser($site, $tlang.Locale, $noVal))
            <td>$dateAndUser.Date</td>
            <td>$dateAndUser.User</td>
          </tr>
          #end
        </tbody>
      </table>

      #if($hasEditableSites && !$readOnlyMode)
      <div class="act">
        <input id="contBtn" type="button" accesskey="n" class="active" name="continue" value='#mb("owl.mig.btn.continue")' onclick="OWL_MIG.continue();" />
        <input id="cancelBtn" type="submit" accesskey="x" name="cancel" value='#mb("owl.mig.btn.cancel")'>
      </div>
      <div aria-live="polite">
      <div id="owl-mig-realButtonsContainer">
        #if(!$confirm1.Empty)<p>$confirm1</p>#end
        #if(!$confirm2.Empty)<p id="sizeBlurb">$confirm2</p>#end
        #if(!$confirm3.Empty)<p>$confirm3</p>#end
        <p>#mb("owl.mig.areyousure")</p>
        <div class="act">
          <input id="saveBtn" type="submit" accesskey="s" class="active" name="save" value='#mb("owl.mig.btn.save")' onclick='document.getElementById("sakai_action").value="doMigrate";SPNR.disableControlsAndSpin(this, null);'/>
          <input id="dontBtn" type="button" accesskey="d" name="dontsave" value='#mb("owl.mig.btn.dontsave")' onclick="OWL_MIG.cancelSave();"/>
        </div>
      </div>
      </div>
      #end

      <input type="hidden" name="sakai_action" id="sakai_action" value="doMigrate_cancel" />
      <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
    </form>
  </div>
</div>

<script>
var OWL_MIG = OWL_MIG || {};
OWL_MIG.showSizeBlurb = function()
{
  const selections = Array.from(document.getElementsByName("userAction"));
  const sizeCheckOptionKeys = [$sizeCheckOptions];

  for (const selection of selections)
  {
    const optionKey = selection.value.split("::")[1];
    if (sizeCheckOptionKeys.includes(optionKey) && selection.dataset.sizeCat !== "NONE")
    {
      return true;
    }
  }

  return false;
}

OWL_MIG.showHideSizeBlurb = function()
{
  const blurb = document.getElementById("sizeBlurb");
  if (blurb !== null)
  {
    blurb.style.display = OWL_MIG.showSizeBlurb() ? "block" : "none";
  }
}

OWL_MIG.continue = function()
{
  OWL_MIG.showHideSizeBlurb();
  const realButtonsContainer = document.getElementById("owl-mig-realButtonsContainer");
  realButtonsContainer.style.display="block";
  document.getElementById("contBtn").disabled=true;
  document.getElementById("cancelBtn").disabled=true;
  realButtonsContainer.scrollIntoView({behavior: "smooth"});
  document.getElementById("dontBtn").focus();
}

OWL_MIG.cancelSave = function()
{
  document.getElementById("owl-mig-realButtonsContainer").style.display="none";
  const contBtn = document.getElementById("contBtn");
  contBtn.disabled=false;
  document.getElementById("cancelBtn").disabled=false;
  contBtn.focus();
}

// build a JS version of the typeActionMap so we can use it to swap the contents of the action dropdown
OWL_MIG.actionMap = new Map();
{
let actionArray = [];
#foreach($typeKey in $typeActionMap.keySet())
  #foreach($action in $typeActionMap.get($typeKey))
  actionArray.push(["$action.label", "$action.key"]);
  #end
  OWL_MIG.actionMap.set("$typeKey", actionArray);
  actionArray = [];
#end
}

OWL_MIG.handleTypeChange = function(event)
{
  const [siteId, typeKey] = event.target.value.split("::");  // format is <siteid>::<typeKey>
  const container = document.getElementById(siteId + "_action_container");
  let actionSelect = document.getElementById(siteId + "_action");

  if (OWL_MIG.actionMap.has(typeKey))
  {
    if (actionSelect == null)
    {
      actionSelect = document.createElement("select");
      actionSelect.name = "userAction";
      actionSelect.id = siteId + "_action";

      const lbl = document.createElement("label");
      lbl.htmlFor = actionSelect.id;
      lbl.classList.add("sr-only");
      lbl.textContent = "#mb("owl.mig.type.label") " + container.dataset.siteTitle;

      container.replaceChildren(lbl, actionSelect);
    }
  
    while (actionSelect.options.length > 0)
    {
      actionSelect.remove(0);
    }

    for (const opt of OWL_MIG.actionMap.get(typeKey))
    {
      actionSelect.add(new Option(opt[0], siteId + "::" + opt[1]));
    }
    actionSelect.selectedIndex = 0;  // OWLTODO: make it a data requirement that the "undecided" option appears first
  }
  else 
  {
    if (actionSelect != null)
    {
      for (const l of Array.from(actionSelect.labels))
      {
        l.remove();
      }
      actionSelect.remove();
    }

    container.textContent = "#mb("owl.mig.noAction")";
  }
}

</script>

## MACROS ONLY BELOW

#macro(selection $site $options)
<span class="owl-mig-dropdowns">
#if($site.TypeEditable && !$readOnlyMode)
  <label for="${site.SiteId}_type" class="sr-only">#mb("owl.mig.type.label") #title($site)</label>
  <select name="userType" id="${site.SiteId}_type" data-size-cat="$site.getResourcesSizeCategory().name()" onchange="OWL_MIG.handleTypeChange(event);">
    #foreach($typeKey in $types.keySet())
    <option value="$site.SiteId::$typeKey" #if($typeKey == $site.TypeKey)selected#end>$types.get($typeKey)</option>
    #end
  </select>
#elseif($readOnlyMode && !$site.TypeModifiedDate.isPresent())
  $readOnlyNoTypeSelectionDisplay.orElse($noVal)
#else
  $MigTool.getDisplay($site.TypeKey, $typesDisplayMap)
#end
&amp;
<span id="${site.SiteId}_action_container" data-site-title="#title($site)">
#if(($site.ActionEditable || $site.ActionKey.Empty) && !$readOnlyMode)
  #if($site.ActionKey.Empty)
    #mb("owl.mig.noAction")
  #else
    <label for="${site.SiteId}_action" class="sr-only">#mb("owl.mig.action.label") #title($site)</label>
    <select name="userAction" id="${site.SiteId}_action">
      #foreach($action in $typeActionMap.get(${site.TypeKey}))
      <option value="$site.SiteId::$action.key" #if($action.key == $site.ActionKey)selected#end>$action.label</option>
      #end
    </select>
  #end
#elseif($readOnlyMode && !$site.ActionModifiedDate.isPresent())
  #set($noActionDisplay = $tlang.getString("owl.mig.noAction"))
  $readOnlyNoActionSelectionDisplay.orElse($noActionDisplay)
#else
  $MigTool.getDisplay($site.ActionKey, $actionsDisplayMap)
#end
</span>
</span>
#set($status = $MigTool.getStatusDisplay($site))
#set($wrap = $site.TypeEditable || $site.ActionEditable)
#if(!$status.Empty)<span id=${site.SiteId}_status class="owl-mig-tracking-status-label #if($wrap)owl-mig-tracking-status-label-wrap#end">$status</span>#end
#end

#macro(size $site)
#set($sizeCss = $MigTool.getSizeCssClass($site))
#if($sizeCss.Empty)
$MigTool.formatSize($site)
#else
<span class="$sizeCss">$MigTool.formatSize($site)</span>
#end
#end

#macro(mb $key)$tlang.getString($key)#end

#macro(title $site)$formattedText.escapeHtml($site.SiteTitle)#end

#macro(linkify $site)<a href="$site.getSiteUrl()" target="_blank">#title($site)</a>#end
